@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
}

h2{
    font-weight: 400;
    font-size: 1.125rem;
    text-align: left;
}

.contacto{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21.94px;
    text-align: left;
}

.text, .text-titulo{
    font-weight: 400;
    font-size: 1.125rem;   
}

h3{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;   
}

.skill-name{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
}

.responsivo, button{
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
}

.hashtag{
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
}

h4{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
}

.fecha{
    font-weight: 400;
    font-size: 0.875rem;
    text-align: left;
}

.front, .descrip{
    font-weight: 400;
    font-size: 1rem;   
}

.front-cert{
    font-weight: 400;
    font-size: 1rem;   
    text-align: left;
}

.fecha-cert{
    font-weight: 400;
    font-size: 0.875rem;
    text-align: left;
}
