@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    text-align: left;
}

h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    text-align: left;
}

.contacto{
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    text-align: left;
}

.text{
    font-weight: 400;
    font-size: 18px;   
}

h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    text-align: left;
    width: 66px;
    height: 29px;    
}

.skill-name{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    text-align: left;
    width: 154px;
    height: 29px;
}

.responsivo, button{
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    text-align: center;
}

.hashtag{
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    text-align: left;
    margin-top: 8px;
}

h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.6px;
    text-align: left;
    margin-top: 8px;
}

.fecha{
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    text-align: left;
    margin: 0;
    margin-top: 16px;
}

.front, .descrip{
    font-weight: 400;
    font-size: 16px;   
    line-height: 19.5px;
    margin: 0;
    margin-top: 8px;
}

.front-cert{
    font-weight: 400;
    font-size: 16px;   
    line-height: 19.5px;
    text-align: left;
}

.fecha-cert{
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    text-align: left;
}
